# Ignore all builds
**/_builds
**/builds
**/build

# Ignore VSCode settings
**/.vscode
**/out

# Ignore Object files
*.o

# Specific files & folders
**/std_lib_facilities.h
**/c_cpp_properties.json
**/.idea
